<div class="api-invoker api-status-{{status}}" {{#if has_cb}}data-cb="true"{{/if}} {{#if user_input}}data-user-input="true"{{/if}} data-action="{{method_name}}" data-params="{{method_params}}" {{#if native}}data-native="1"{{/if}} data-response-mock="{{response_data_mock}}">
    <div class="button app-button">
        {{#if method_desc}}
            {{{method_desc}}}
        {{else}}
            {{method_name}}
        {{/if}}
    </div>
    <pre class="result"></pre>
    {{#if method_cb}}
    <script type="text/plain" class="cb">
        {{{method_cb}}}
    </script>
    {{/if}}
</div>