<div class="app-page app-page-main" data-page="main" data-page-title="" style="display: block">
    <div id="profile"></div>
    <div id="timer"></div>
    <div id="local-storage"></div>
    <div id="push-data" class="custom-button" style="display: none">
        <div class="api-status-done" >
            <div class="button app-button">
                PUSH NOTIFICATION DATA
            </div>
            <pre class="result" style="display: block"></pre>
        </div>
    </div>
    <div id="get-params" class="custom-button">
        <div class="api-status-done" >
            <div class="button app-button">
                Show GET-params
            </div>
            <pre class="result"></pre>
        </div>
    </div>

    <!--<div id="show-mailru" class="custom-button">-->
        <!--<div class="api-status-done" >-->
            <!--<div class="button app-button">-->
                <!--Show MAILRU methods-->
            <!--</div>-->
            <!--<pre class="result"></pre>-->
        <!--</div>-->
    <!--</div>-->
    <!---->
    <div class="custom-container">
        <input type="file" />
        <pre class="result"></pre>
    </div>

    <div class="app-page-content">
        {{#each methods}}
            {{> _api_method_invoker}}
        {{/each}}
    </div>

    <div class="custom-button" id="console">
        <div class="api-status-done" >
            <div class="button app-button">
                console
            </div>
        </div>

    </div>

    <div class="custom-button" id="console">
        <div class="api-status-done">
            <a class="button app-button" href="market://search?q=name:com.icq.mobile.client">1. store scheme ICQ in Play Store</a>
            <a class="button app-button" href="intent://scan/#Intent;scheme=icq;package=com.icq.mobile.client;end">2. intent ICQ in Play Store</a>
            <a class="button app-button" href="https://play.google.com/store/apps/details?id=com.icq.mobile.client">3. direct link ICQ in Play Store</a>
        </div>

    </div>



    <div id="friends-list">
        <h3>
            Friends with APPS support
        </h3>
    </div>

    <div id="friend-canvas">

    </div>
</div>
