<div class="app-page app-page-search" data-page="search" data-page-title="">
    <div id="profile"></div>
    <div class="app-page-content">
        <div class="search-field">
            <form>
                <div class="icon"></div>
                <input type="search" class="search-field__input" required=""  placeholder="Search" />
                <button type="submit" class="search-field__submit"></button>
            </form>
        </div>
    </div>
</div>
