<div class="user-profile">
    <div class="user-profile__avatar">
        <img src="{{avatar}}" alt="{{first_name}} {{last_name}}"/>
    </div>
    <div class="user-profile__name">
        {{first_name}} {{last_name}}
    </div>

    <div class="user-profile__age">
        {{birthday}}
    </div>
    <!--<div class="user-profile__friends_count">-->
        <!--{{contacts_count}}-->
    <!--</div>-->
</div>