<!DOCTYPE html>
<html {{#if env.prod}}manifest="/manifest.appcache"{{/if}}>
    <head>
        <title>ICQ TEST APP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="css/app/app.css"/>
        <link rel="stylesheet" href="css/main.css"/>
        <script>
            window.onerror = function(err) {
                alert(err)
            }
        </script>
    </head>
    <body>
        <div class="app-page-header-container">
            <div class="app-page-header">
                <div class="app-button left app-page-back-button" data-back="true">
                    <span class="icon"></span>
                    <span class="caption">Back</span>
                </div>
                <div class="app-page-title">
                    <span class="caption">Test app</span>
                </div>
                <div class="app-button right app-open-dev" id="open-test-app">
                    <span class="icon"></span>
                    <span class="caption">test</span>
                </div>
            </div>

        </div>

        {{> _main_page}}
        {{> _search_for_app_page}}

        {{> _scripts}}
    </body>
</html>